
body{
background: #3C6B92;
    }
nav{
    text-align: center;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 5px;
    
}
nav li{
    display: inline;
    border-left: 3px solid #999;
    }
        

nav li a:hover{
            color: #FF0000
        }
nav a:link ,nav a:visited{
    padding: 35px;
    text-decoration: none;
    font-size: 1.75em;
    
    }
nav a:active{
    color: green;
}

#welcome h1{
    font: 2.8em  Arial;
    text-align: center;
    color: #fff;
    margin:50px 0 0 250px;
    
    }
#welcome a:link ,#welcome a:visited{
  width: 285px;
  height: 55px;
  background: url(tour_badge.png) no-repeat;
  display:block;
    //text-align: center;
  margin: 50px 0 0 750px;
}


section{
    float:left;
    width: 400px;
    background-color: aliceblue;
    border-right: 100px;
    border-radius: 5px;
}
section h1{
    text-align: center;
    font-style: italic;
}
 section img{

     float: left;
    width: 150px;
    height: 150px;
     padding-bottom: 15px;
     margin-left: 20px;
    border-radius: 20px;
    
    }
section h2{
 font-size: 1.2em;
  font-family: Helvetica, Arial;
  color: #193742;
  border-top: 2px solid #999;
  padding-top: 1em;
  font-weight: normal;
  clear: left;
  letter-spacing:1px;
}
section p{
font-style: italic;
  text-align: right;
    margin-right: 10px;
  }
section p a{
    text-decoration: none;
    color: brown;
    border-bottom:1px dotted #000;
}
#article{
    padding-left: 425px;
    
}
#article h3,#video h3,aside h3{
    text-align: center;
    font-size: 2em;
    font-style: italic;
    font-weight: normal;
    color: #01DF01;
}
#video{
align-content: center;
}
iframe{
    margin-left: 125px;
    width: 700px;
    height: 300px;

}

#article p{
    font-size: 1.5em;
    background-color: #A9F5F2;
    border-radius: 15px;
    padding: 30px;
}
footer{
    background-color: aliceblue;
    padding: 10px;
    margin-top: 53px;
    border-radius: 10px;
    //background-color:#e1d8b9;
}
footer h4{
    text-align: left; 
    font-size: 1.5em;
}
footer li{
    display: inline;
    padding: 50px;
}

footer li a:visited,footer li a:link{
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: normal;
}
#section{
    //padding-top: 100px;
    margin-top: 50px;
}

aside img{
    margin-left: 150px;
    width: 700px;
    
}
aside p{
    
    margin-left: 450px;
    background: aliceblue;
    font-size: 1.5em;
     -moz-column-count: 2;
-moz-column-gap: 25px;
  -webkit-column-count: 2;
  -webkit-column-gap: 25px;
  column-count: 2;
  column-gap: 25px;
}
#resources{
    
    color: aliceblue;
    margin-left: 500px;
    
    font-size: 1.5em;
}
aside ul li{
      //margin: 0 0 1.2em 2.4em;
  padding: 0 0 0 24px;
    list-style-type: none;
    
   background: url(../images/star_bullet.gif) no-repeat 0 2px; 
}

#contact{
    margin-top: 20px;
    margin-left: 500px;
    
}
#tours ul li{
    list-style-type: none;
    
}
aside iframe{
    margin-top: 50px;
}
#contactFooter{
    margin-top:500px;
    
}
    
        
         
        